body {
    font-family: 'Ysabeau SC', sans-serif;
}
.page-body {
    background-color: #F7E6C4;
    margin: 0px;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 50px;
}
.avatar {
    align-self: center;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.left {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: #F1C376;
}
.right {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: #FFF4F4;
}
.code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    text-align: start;
    padding: 10px;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
